/* Default apply to all content */
* {
    box-sizing: border-box;
    font-family: sans-serif;
    padding-left: 1%;
    padding-right: 1%;
}



/* In order that content appears onpage */

/* Navigation */

.navbar {
    font-size:22px;
    text
    background-color: white;

}

.navbar-brand {
    font-size:32px;
}


/* jumbotron */



/* Key Content */

#about, #skills, #work {
padding-top: 2%;
padding-bottom: 1%;
}



/* add in relevant CSS now the issue has been resolved */
/* add spacing between components / padding  */
/* move jumbroton text to right in alignment with image */
/* add div for 3 in jumbo elements - then a further div for 2x copy rows */
/* Increase font size in nav and change the colour to the same blue from v1 */
/* Add cards for work/split by dev&marketing */
/* Add contact section */
/* add footer with CTAs of CV / CONTACT */
