/* Default apply to all content */
* {
    box-sizing: border-box;
    font-family: sans-serif;
}


/* want to add spacing between components / padding  */
/* want to move jumbroton text to right in alignment with image */
/* want to increase font size in nav and change the colour to the same blue from v1 */
/* need to add cards for work */
/* need to add footer with link for contact */


/* NONE OF THIS MAKES ANY DIFFERENCE */



/* Navigation */


.customNav {
    position: fixed;
    width: 100%;
    background-color: aqua;
}

.img {
    justify-content: flex-end;
}
